body {
 background-color: #ababab;
}

#camerabox {
 left: 50%;
 margin-left: -170px;
 margin-top: -270px;
 position: fixed;
 top: 50%;
 width: 340px;
 z-index: 2;
}

#info {
 position: absolute;
 left: 50%;
 width: 420px;
 margin-left: -210px;
 top: 350px;
 font: 16px Tahoma, Helvetica, Arial, Sans-Serif;
 color: #504f4f;
 text-shadow: 0px 2px 1px #bbbaba;
 text-align: center;
}

a {
 color: #504f4f;
 font-weight: bold;
 text-decoration: none;
}

.fancybox-title a:hover {
 color: #fff;
}

#info a:hover {
 text-shadow: 3px 3px 2px #a5b8da;
}

input {
 border: 2px solid #dadada;
 border-radius: 7px;
 padding: 5px;
}

input:focus {
 border-color: #a5b8da;
 box-shadow: 0 0 10px #a5b8da;
 outline: none;
}

#spinner {
 position: fixed;
 top: 350px;
 width: 43px;
 left: 50%;
 margin-left: -21px;
}

#imagespinner {
 position: relative;
 top: -54px;
 left: 67px;
}

#splash img {
 position: relative;
 top: 30px;
 left: 200px;
 box-shadow: 3px 3px 7px #777;
 transform: rotate(-30deg);
 -ms-transform: rotate(-30deg); /* IE 9 */
 -webkit-transform: rotate(-30deg); /* Safari and Chrome */
 -o-transform: rotate(-30deg); /* Opera */
 -moz-transform: rotate(-30deg); /* Firefox */
 z-index: 1;
}

.title {
 position: relative;
 font-family: 'Metal Mania';
 font-size: 50pt;
 text-shadow: 0 0 20px #fff;
 top: -10px;
 left: 10px;
 z-index: 2;
}

.subtitle {
 position: relative;
 color: #fff;
 font-family: 'Metal Mania';
 font-size: 20pt;
 text-shadow: 2px 2px 3px #000;
 top: 20px;
 left: -180px;
 z-index: 2;
}
